{{ boinc_work_dir }}/*txt {
    prerotate
        systemctl stop boinc-client.service
    endscript
    rotate 5
    size 10M
    postrotate
        systemctl start boinc-client.service
    endscript
}
