[Unit]
Description=boinc-client

[Service]
ExecStart=/usr/local/bin/boinc --redirectio --allow_remote_gui_rpc --gui_rpc_port 31416 --dir {{ boinc_work_dir }}
PIDFile={{ boinc_work_dir}}/boinc-client.pid
User=boinc

[Install]
WantedBy=multi-user.target
