#!/sbin/openrc-run

name=$RC_SVCNAME
command="/usr/local/bin/boinc"
command_args="--daemon --allow_remote_gui_rpc --dir {{ boinc_work_dir }}"
command_user="boinc"
pidfile="{{ boinc_work_dir }}/$RC_SVCNAME.pid"
start_stop_daemon_args=""
command_background="yes"

depend() {
        need net
}
