#!/sbin/openrc-run

name=$RC_SVCNAME
command="/usr/local/bin/boinc"
command_args="--dir {{ boinc_work_dir }}"
command_user="boinc"
pidfile="{{ boinc_work_dir }}/$RC_SVCNAME.pid"
start_stop_daemon_args=""
command_background="yes"

depend() {
        need net
}

#start_pre() {
#        checkpath --directory --owner $command_user:$command_user --mode 0775 \
#                /run/$RC_SVCNAME /var/log/$RC_SVCNAME
#}
