[Unit]
Description=BOINC node atboot tasks

[Service]
ExecStart=/usr/local/bin/homefarm-atboot
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=multi-user.target
